
@{
    ViewBag.Title = "Index";
}

<h2>訂單查詢</h2>
<html>
<body>
    @using(Html.BeginForm("Index", "search", FormMethod.Post)){ //導向searchcontroller的post的index 
      
    <table border="1" border-collapse="collapse" style="width:100%">
        <tr>
            <td>訂單編號</td>
            <td colspan="3"><input type="text" name="orderId" /></td>
        </tr>
        <tr>
            <td>客戶名稱</td>
            <td colspan="3"><input type="text" name="custName" /></td>
        </tr>
        <tr>
            <td>負責員工</td>
            <td colspan="3">
                <select name="emp">
                    <option value="">選擇負責員工</option>
                    @foreach (var item in ViewBag.ename)
                    {
                        <option>@item</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>出貨公司</td>
            <td colspan="3">
                <select name="comp">
                    <option value="">選擇出貨公司</option>
                    @foreach (var item in ViewBag.comp)
                    {
                        <option>@item</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>訂購日期</td>
            <td><input type="date" name="orderDate" /></td>
            <td>出貨日期</td>
            <td><input type="date" name="shipDate" /></td>
        </tr>
        <tr>
            <td>需要日期</td>
            <td colspan="3"><input type="date"  name="requestDate"/></td>
        </tr>
        <tr>
            <td></td>
            <td colspan="3">
                <input type="submit" value="查詢" />
                <input type="reset" value="清除" />
                <a href="/search/add"><input type="button" value="新增訂單" /></a>
        </tr>

    </table>
    }
    
</body>

</html>

